name: Deploy to EKS

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
  EKS_CLUSTER_NAME: ${{ secrets.EKS_CLUSTER_NAME }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        # Correctly referencing the SECRET NAMES you defined in GitHub Settings:
        aws-access-key-id: ${{ secrets.AKIARSCWF3UNRE3D6EVG }}
        aws-secret-access-key: ${{ secrets.DQzaU/TcPAN55256Z9whXFv8hMNyl2IuEFqrUlWY }}
        aws-region: ${{ secrets.us-east-2 }}

    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build and push Docker image
      env:
        ECR_REGISTRY: 107554921755.dkr.ecr.us-east-2.amazonaws.com
        IMAGE_TAG: latest
      run: |
        docker build -t $ECR_REGISTRY/my-app:$IMAGE_TAG .
        docker push $ECR_REGISTRY/my-app:$IMAGE_TAG

    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig --region $AWS_REGION --name $EKS_CLUSTER_NAME

    - name: Update kubeconfig
  run: |
    aws eks update-kubeconfig \
      --region $AWS_REGION \
      --name $EKS_CLUSTER_NAME

- name: Verify cluster access
  run: |
    kubectl get nodes

- name: Deploy to EKS
  run: |
    kubectl apply -f k8s/deployment.yaml --validate=false
    kubectl apply -f k8s/service.yaml --validate=false

